@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
.App {
  font-family: "Nunito";
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
}

.input-search {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 30%;
}

button {
  font-family: "Nunito";
  padding: 0.5rem;
  border-radius: 5px;
}

.main-container {
  display: grid;
}

.navbar {
  display: flex;
  justify-content: center;
}
.delete-all-btn {
  margin: 0 0.5rem;
  background-color: crimson;
  color: antiquewhite;
}

.margin-lr {
  margin: 0 0.5rem;
}

@media screen and (max-width: 760px) {
  .container {
    width: 100%;
  }
  .table-container {
    width: 80%;
    overflow-y: scroll;
    margin: 0 auto;
  }
}
